body {
    cursor:url('/img/1.cur'), auto;
}
select, input, textarea, a, button {
    cursor:url('/img/2.cur'), auto;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly] {
    cursor:url('/img/2.cur'), auto;
}


element.style {
}
.mdui-appbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    will-change: left,right;
}
.mdui-appbar {
    z-index: 1000;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
* {
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
header {
    display: block;
}
@media (min-width: 1024px)
body {
    font-size: 15px;
}
@media (min-width: 600px)
body {
    font-size: 14.5px;
}
body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
@media (min-width: 1024px)
body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

@media (min-width: 600px)
.mdui-appbar .mdui-toolbar {
    height: 64px;
    line-height: 64px;
}
.mdui-toolbar {
    height: 54px;
    line-height: 54px;
    color: #fff!important;
    background-color: #3a3f51!important;
}
.mdui-toolbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
* {
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
div {
    display: block;
}
@media (min-width: 1024px)
body {
    font-size: 15px;
}
@media (min-width: 600px)
body {
    font-size: 14.5px;
}
body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
@media (min-width: 1024px)
body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

Rendered Fonts
RobotoRegular—Network resource(11 glyphs)
Microsoft YaHei—Local 

.mdui-btn, .mdui-fab {
    position: relative;
    display: inline-block;
    min-width: 88px;
    height: 36px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .04em;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    border: none;
    border-radius: 2px;
    outline: 0;
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    will-change: box-shadow;
    -webkit-user-drag: none;
}
.mdui-ripple {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
@media (min-width: 600px)
.mdui-appbar .mdui-toolbar {
    height: 64px;
    line-height: 64px;
}
.mdui-theme-primary-teal .mdui-color-theme {
    color: #fff!important;
    background-color: #009688!important;
}
.mdui-toolbar {
    height: 54px;
    line-height: 54px;
}
@media (min-width: 1024px)
body {
    font-size: 15px;
}
@media (min-width: 600px)
body {
    font-size: 14.5px;
}
body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
@media (min-width: 1024px)
body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}


element.style {
}
.toTop {
    background: #ffffff !important;
}
.toTop {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #e01919;
    background: #00bcd4;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 3px 3px 0 rgba(0,0,0,.24);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    overflow: hidden;
}

/*头像无限转动*/
@-webkit-keyframes rotation{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.img-full{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

/*首页头像自动旋转*/
.thumb-lg{
    width:130px;
}

.avatar{
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out; 
}

.avatar:hover{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}

#aside-user span.avatar{
    animation-timing-function:cubic-bezier(0,0,.07,1)!important;
    border:0 solid
}

#aside-user span.avatar:hover{
    transform:rotate(360deg) scale(1.2);
    border-width:5px;
    animation:avatar .5s
}

/* 代码块 */
.self-desc {
    width: 90%;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

/*版权样式*/
element.style {
    margin-top: 50px;
    padding: 16px;
    background-color: rgba(255,255,255,0.7);
    border-left: 5px solid rgba(114,102,186,0.7);
}

/*介绍样式
.segment[data-v-8fddd12] {
    margin-top: .16rem;
    padding: .14rem .16rem;
    text-align: justify;
    line-height: 1.6;
    overflow: unset;
    border-top: 2px solid currentColor;
    background-color: hsla(0,0%,100%,.4);
    -webkit-transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
    transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
    transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
    transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
}

.segment .label[data-v-8fddd128] {
    display: inline-block;
    position: relative;
    left: -.32rem;
    margin-bottom: .1rem;
    padding: 0 .14rem 0 .32rem;
    height: .32rem;
    line-height: .32rem;
    border-radius: 0 3px 3px 0;
    background-color: currentColor;
}

Style Attribute {
    color: rgb(251, 150, 110);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
}

.segment .label[data-v-8fddd128] {
    display: inline-block;
    position: relative;
    left: -.32rem;
    margin-bottom: .1rem;
    padding: 0 .14rem 0 .32rem;
    height: .32rem;
    line-height: .32rem;
    border-radius: 0 3px 3px 0;
    background-color: currentColor;
}
*/

#lolijump {
    position: fixed;
    bottom: 25px;
    /*right: 15px;*/
    width: 60px;
    height: 60px;
    z-index: 999;
}

#lolijump img {
    max-width: 100%!important;
}







/* 测试 
.open>.dropdown-menu {
    display: block;
}
.w-xl {
    width: 320px;
}
.dropdown-menu {
    border: 1px solid #dee5e7;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.panel.bg-white {
    display: block;
    box-shadow: none;
    border-radius: 0!important;
}
.b-light {
    border-color: #edf1f2;
}

.bg-light {
    color: #58666e;
    background-color: #edf1f2;
}
.panel-heading {
    border-radius: 2px 2px 0 0;
}
.list-group {
    border-radius: 2px;
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.panel-heading {
    cursor: pointer;
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
    margin-bottom: 0;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (min-width: 768px)
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel .list-group-item {
    border-color: #edf1f2;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.bg-white a {
    color: inherit;
}
.bg-dark a {
    color: #c1c3c9;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    background-color: rgba(255,255,255,0);
}
.list-group-item {
    background-color: rgba(255,255,255,0);
}
.list-group-item {
    padding-right: 15px;
    border-color: #e7ecee;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
*/
a {
    text-decoration: none;
    cursor: pointer;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


/*footer样式*/
.github-badge {
    display: inline-block;
    border-radius: 4px;
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    background-color: #ABBAC3;
    margin-bottom: 5px;
}
.github-badge .badge-subject {
    display: inline-block;
    background-color: #4D4D4D;
    padding: 4px 4px 4px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.github-badge .bg-orange {
    background-color: #FFA500 !important;
}
.github-badge .bg-blue {
    background-color: #007EC6 !important;
}
.github-badge .bg-blueviolet {
    background-color: #8833D7 !important;
}
.github-badge .bg-lightgrey, .github-badge .bg-lightgray {
    background-color: #9f9f9f !important;
}

.github-badge .badge-value {
    display: inline-block;
    padding: 4px 6px 4px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}