body {
    cursor:url('/img/1.cur'), auto;
}
select, input, textarea, a, button {
    cursor:url('/img/2.cur'), auto;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly] {
    cursor:url('/img/2.cur'), auto;
}


element.style {
}
.mdui-appbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-timing-function: cubic-bezier(0,0,.2,1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    will-change: left,right;
}
.mdui-appbar {
    z-index: 1000;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
* {
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
header {
    display: block;
}
@media (min-width: 1024px)
body {
    font-size: 15px;
}
@media (min-width: 600px)
body {
    font-size: 14.5px;
}
body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
@media (min-width: 1024px)
body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

@media (min-width: 600px)
.mdui-appbar .mdui-toolbar {
    height: 64px;
    line-height: 64px;
}
.mdui-toolbar {
    height: 54px;
    line-height: 54px;
    color: #fff!important;
    background-color: #3a3f51!important;
}
.mdui-toolbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
* {
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
div {
    display: block;
}
@media (min-width: 1024px)
body {
    font-size: 15px;
}
@media (min-width: 600px)
body {
    font-size: 14.5px;
}
body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
@media (min-width: 1024px)
body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}

Rendered Fonts
RobotoRegular—Network resource(11 glyphs)
Microsoft YaHei—Local 

.mdui-btn, .mdui-fab {
    position: relative;
    display: inline-block;
    min-width: 88px;
    height: 36px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .04em;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    border: none;
    border-radius: 2px;
    outline: 0;
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    will-change: box-shadow;
    -webkit-user-drag: none;
}
.mdui-ripple {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
@media (min-width: 600px)
.mdui-appbar .mdui-toolbar {
    height: 64px;
    line-height: 64px;
}
.mdui-theme-primary-teal .mdui-color-theme {
    color: #fff!important;
    background-color: #009688!important;
}
.mdui-toolbar {
    height: 54px;
    line-height: 54px;
}
@media (min-width: 1024px)
body {
    font-size: 15px;
}
@media (min-width: 600px)
body {
    font-size: 14.5px;
}
body {
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
@media (min-width: 1024px)
body ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0;
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}


element.style {
}
.toTop {
    background: #ffffff !important;
}
.toTop {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #e01919;
    background: #00bcd4;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 3px 3px 0 rgba(0,0,0,.24);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    overflow: hidden;
}

/*头像无限转动*/
@-webkit-keyframes rotation{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.img-full{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

/*首页头像自动旋转*/
.thumb-lg{
    width:130px;
}

.avatar{
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out; 
}

.avatar:hover{
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
}

#aside-user span.avatar{
    animation-timing-function:cubic-bezier(0,0,.07,1)!important;
    border:0 solid
}

#aside-user span.avatar:hover{
    transform:rotate(360deg) scale(1.2);
    border-width:5px;
    animation:avatar .5s
}

/* 代码块 */
.self-desc {
    width: 90%;
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

element.style {
    margin-top: 50px;
    padding: 16px;
    background-color: rgba(255,255,255,0.7);
    border-left: 5px solid rgba(114,102,186,0.7);
}